<!doctype html>
<title>{% block title %}{% endblock %} - Simple CRUD app</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Simple CRUD app</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{% if user_type == "User" %}{{ url_for('auth_user.logout') }}{% else %}{{ url_for('auth_vendor.logout') }}{% endif %}">Log Out</a>
    {% else %}
      <li><a href="{% if user_type=="User" %}{{ url_for('auth_user.register') }}{% else %}{{ url_for('auth_vendor.register') }}{% endif %}">Register</a>
      <li><a href="{% if user_type=="User" %}{{ url_for('auth_user.login') }}{% else %}{{ url_for('auth_vendor.login') }}{% endif %}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>